[user]
	name = newjett0617
	email = newjett0617@gmail.com

[include]
### include git core
	path = ~/.gitconfig.d/git_core

### include git init
	path = ~/.gitconfig.d/git_init

### include git alias
	path = ~/.gitconfig.d/git_alias

### include git color style
	path = ~/.gitconfig.d/git_color
